.messageapp__messageinput {
    /* width: 100%; */
    margin: 5px;
    flex: 0 50px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
    padding: 5px;
    overflow: auto;
}