.messageapp {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
}

.messageapp__leftside {
    flex: 0 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #BDBDBD;
    background-color: #EFF5FB;
    max-height: 100vh;
}

.messageapp__rightcontent {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.smallwindow {
    /* flex-direction: column; */
}

.smallwindow .messageapp__leftside,
.smallwindow .messageapp__rightcontent {
    display: none;
}

.isShow {
    display: flex !important;
    flex: 1 !important;
    width: 100%  !important;
    max-width: unset !important;
}
/* @media only screen and (max-width: 768px) {
    .messageapp {
        flex-direction: column;
    }

    .messageapp__leftside,
    .messageapp__rightcontent {
        display: none;
    }
} */