.messageapp__boardheader {
    width: 100%;
    flex: 0 50px;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    padding: 5px;
}

.messageapp__boardheader__username {
    font-size: 20px;
    font-weight: bold;
}